.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  height: 400px;
  margin-top: 10%;
  /* border: 2px solid black; */
}

.login-Item {
  width: 650px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  border:1px solid black;
  /* margin: 50px; */
  padding: 0;
  margin: 0;
  /* background-color:whitesmoke; */
  height: 100%;
  /* border: 2px solid black; */
}

.login-container label {
  font-size: large;
  display: inline-block;
  
}

.login-container input {
  width: 90%;
  height: 25px;
  margin: 5px;
}

.login-btn {
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

.login-btn:hover{
  border: none;
  background-color: #34d0d0;
}
