
  /* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Titillium+Web:ital,wght@0,600;1,300;1,700&display=swap'); */

.navbar {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* height: 80px; */
  /* flex-direction: row; */
  /* height: 70px; */
  background-color: rgb(35, 40, 53);
}

.nav li{
  margin-left: 30px;
}

.navbar ul {
  margin-bottom: 12px;
  text-align: center;
  list-style-type: none;
  /* margin-left: 50px; */
  text-decoration: none;
  
  /* margin-left: 50px; */
}

.navbar ul li {
  height: 100%;
  
  color: white;
  float: left;
  
}
.navbar li{
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  
}

.navbar ul li:hover {
  background-color: #304552;
  /* width: 100%; */
  
  height: 100%;
}
.navbar img {
  width: 100px;
  /* height: 50px; */
  margin-top: -7px;
}

.btn {
  border-radius: 20px;
  height: 30px;
  color: white;
  background-color: #304552

}

@media screen and (max-width:920px) {
  .nav li{
    display: none;
  }
  
  
}
@media screen and (max-width:600px) {
  .nav li{
    display: none;
  }
  .navbar {
    width: 100%;
    justify-content: space-between;
   
    align-items: center;
  }
  
}